In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Extracting CSVs into DataFrames
homelessness_file = 'Resources/2007-2016-Homelessnewss-USA.csv'
homelessness_df = pd.read_csv(homelessness_file)
homelessness_df.head()

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842

In [3]:
population_file = 'Resources/Population-by-state.csv'
population_df = pd.read_csv(population_file)
population_df.head()

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016
0,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
1,0400000US01,1,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
2,0400000US02,2,Alaska,710231,710249,714031,722713,731089,736879,736705,737709,741894
3,0400000US04,4,Arizona,6392017,6392301,6408312,6467163,6549634,6624617,6719993,6817565,6931071
4,0400000US05,5,Arkansas,2915918,2916025,2921995,2939493,2950685,2958663,2966912,2977853,2988248

In [9]:
marijuana_file = 'Resources/marijuana_use.csv'
marijuana_df = pd.read_csv(marijuana_file)
marijuana_df.head()

,State,Substate Region,12-17 Estimate,18-25 Estimate,26 or Older Estimate,18 or Older Estimate
0,Total United States,Total United States,12.56%,32.37%,10.52%,13.66%
1,Northeast,Northeast,12.89%,36.67%,11.53%,15.05%
2,Midwest,Midwest,12.54%,31.86%,9.70%,12.90%
3,South,South,11.41%,29.52%,8.72%,11.69%
4,West,West,14.20%,34.09%,13.35%,16.40%

In [11]:
heroin_file = 'Resources/heroin_use.csv'
heroin_df = pd.read_csv(heroin_file)
heroin_df.head()

,State,Substate Region,12-17 Estimate,12-17 \n95% CI (Lower),12-17 \n95% CI (Upper),18-25 Estimate,18-25 \n95% CI (Lower),18-25 \n95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
0,Total United States,Total United States,0.08%,0.06%,0.12%,0.68%,0.59%,0.79%,0.31%,0.27%,0.35%,0.36%,0.33%,0.40%
1,Northeast,Northeast,0.10%,0.06%,0.16%,0.95%,0.77%,1.17%,0.51%,0.41%,0.64%,0.57%,0.47%,0.69%
2,Midwest,Midwest,0.08%,0.05%,0.13%,0.67%,0.54%,0.82%,0.28%,0.22%,0.37%,0.34%,0.27%,0.42%
3,South,South,0.07%,0.05%,0.11%,0.61%,0.51%,0.73%,0.25%,0.19%,0.32%,0.30%,0.24%,0.36%
4,West,West,0.09%,0.05%,0.15%,0.61%,0.48%,0.76%,0.27%,0.20%,0.36%,0.32%,0.25%,0.40%

In [12]:
tobacco_file = 'Resources/tobacco_use.csv'
tobacco_df = pd.read_csv(tobacco_file)
tobacco_df.head()

,Order,State,Substate Region,12-17 Estimate,"12-17, \n95% CI (Lower)","12-17, \n95% CI (Upper)",18-25 Estimate,"18-25, \n95% CI (Lower)","18-25, \n95% CI (Upper)",26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI,(Lower),18 or Older 95% CI (Upper)
0,1,Total United States,Total United States,6.10%,5.85%,6.37%,32.68%,32.07%,33.29%,24.97%,24.59%,25.35%,26.08%,25.73%,26.43%,NaN
1,2,Northeast,Northeast,5.64%,5.18%,6.13%,32.30%,31.21%,33.40%,23.63%,22.83%,24.44%,24.84%,24.13%,25.56%,NaN
2,3,Midwest,Midwest,7.19%,6.73%,7.68%,36.93%,36.00%,37.87%,27.93%,27.18%,28.70%,29.23%,28.58%,29.90%,NaN
3,4,South,South,6.45%,6.07%,6.85%,33.88%,33.08%,34.70%,26.97%,26.32%,27.63%,27.96%,27.39%,28.53%,NaN
4,5,West,West,4.91%,4.48%,5.37%,27.35%,26.30%,28.41%,20.14%,19.40%,20.91%,21.20%,20.54%,21.87%,NaN

In [15]:
alcohol_file = 'Resources/alcohol_use.csv'
alcohol_df = pd.read_csv(alcohol_file)
alcohol_df.head()

,State,Substate Region,12-17 Estimate,12-17 \n95% CI (Lower),12-17 \n95% CI (Upper),18-25 Estimate,18-25 \n95% CI (Lower),18-25 \n95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
0,Total United States,Total United States,10.12%,9.76%,10.48%,58.36%,57.70%,59.02%,55.56%,55.11%,56.01%,55.96%,55.56%,56.37%
1,Northeast,Northeast,11.77%,11.06%,12.51%,63.74%,62.54%,64.93%,60.31%,59.38%,61.23%,60.79%,59.95%,61.62%
2,Midwest,Midwest,10.24%,9.69%,10.82%,62.11%,61.10%,63.11%,58.77%,57.93%,59.61%,59.25%,58.49%,60.01%
3,South,South,9.40%,8.93%,9.89%,55.25%,54.37%,56.14%,51.62%,50.90%,52.34%,52.14%,51.49%,52.78%
4,West,West,10.00%,9.38%,10.66%,55.91%,54.80%,57.02%,55.30%,54.43%,56.17%,55.39%,54.61%,56.17%

In [18]:
cocaine_file = 'Resources/cocaine_use.csv'
cocaine_df = pd.read_csv(cocaine_file)
cocaine_df.head()

,State,Substate Region,12-17 Estimate,12-17 \n95% CI (Lower),12-17 \n95% CI (Upper),18-25 Estimate,18-25 \n95% CI (Lower),18-25 \n95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
0,Total United States,Total United States,0.61%,0.53%,0.71%,5.17%,4.89%,5.47%,1.38%,1.29%,1.47%,1.92%,1.84%,2.01%
1,Northeast,Northeast,0.60%,0.48%,0.76%,6.17%,5.65%,6.74%,1.79%,1.58%,2.02%,2.40%,2.20%,2.62%
2,Midwest,Midwest,0.52%,0.42%,0.66%,4.23%,3.84%,4.64%,1.07%,0.93%,1.22%,1.52%,1.39%,1.67%
3,South,South,0.49%,0.39%,0.61%,4.39%,4.05%,4.75%,1.19%,1.06%,1.33%,1.64%,1.52%,1.77%
4,West,West,0.89%,0.70%,1.13%,6.48%,5.92%,7.09%,1.66%,1.47%,1.87%,2.37%,2.18%,2.57%